<div class="container">
  <h2>Deuxième exemple</h2>
  <textarea class="myCode">
<html>
  <head>
  
  </head>
  <body>
      <input  type="text" 
              name="EntreNom"
              placeholder="Entrer votre nom."                                         
              onBlur="nom(this.value)" 
              value=""
      />

      <script type="text/javaScript">
        function nom(chaine) {
          alert("Bonjour, " + chaine + "!");
        }
      </script>
  </body>
  </html>
  </textarea>
</div>
