<div class="container">
  <h1 class="text-center">Javascript C'est Quoi ?</h1>
  <br />

  <h3>
    <i class="fas fa-arrow-right text-success"></i>
    Langage de script indépendant de toutes plateformes.
  </h3>
  <h3 class="my-4">
    <i class="fas fa-arrow-right text-success"></i>

    Son utilisation la plus connue est dans les pages web.
  </h3>
  <h3 class="my-4">
    <i class="fas fa-arrow-right text-success"></i>

    Il est aussi très utilisé dans le développement sous la plateforme NodeJS.
    <span class="text-muted">(Web, Mobile et Desktop)</span>
  </h3>
  <h3 class="my-4">
    <i class="fas fa-arrow-right text-success"></i>

    Il est aussi utilisé dans les documents « pdf ». Dans des logiciels comme
    « photoshop » etc.
  </h3>
</div>
