<div class="container  ">
  <h1 class="text-center ">Javascript dans une page Web</h1>
  <br />

  <h3 class="my-4">
    JavaScript est utilisé en complément des pages HTML pour :
  </h2>
  <h3 class="my-4">
    <i class="fas fa-arrow-right text-success"></i>

    Accéder à des informations variables telles que la date, cookie, etc.
  </h2>
  <h3 class="my-4">
    <i class="fas fa-arrow-right text-success"></i>

    Interagir avec les utilisateurs par le biais des éléments de l’interface
    graphique.
  </h2>
  <h3 class="my-4">
    <i class="fas fa-arrow-right text-success"></i>

    Validation de formulaires avant leurs soumissions.
  </h2>
  <h3 class="my-4">
    <i class="fas fa-arrow-right text-success"></i>

    Gestion de l’interface utilisateur. (menus dynamiques, panneaux, onglets,
    carousels …
  </h2>
  
</div>
