<div class="container ">
  <h1 class="text-center">Javascript dans le browser</h1>
  <br />
  <p>
    JavaScript est :
  </p>
  <ul class="fa-ul spaced-2">
    <li>
      <i class=" fas fa-check-circle "></i>
      un langage orienté objet (à sa façon)
    </li>
    <li>
      <i class=" fas fa-check-circle "></i>

      Il est destiné à créer des scripts
    </li>
    <li>
      <i class=" fas fa-check-circle "></i>

      interprété par le moteur de script du navigateur
      <ul class="fa-ul spaced-1">
        <li>
          <i class=" fas fa-check "></i>

          NS, FF -> spiderMonkey ,
        </li>
        <li>
          <i class=" fas fa-check "></i>

          rhino, … Chrome -> V8 (Utilisé dans NodeJS et …)
        </li>
        <li>
          <i class=" fas fa-check "></i>

          Opera -> Carakan
        </li>
        <li>
          <i class=" fas fa-check "></i>

          IE -> Chakra, edge
        </li>
        <li>
          <i class=" fas fa-check "></i>

          Safari -> SquirrelFish/Nitro
        </li>
      </ul>
    </li>
    <li>
      <i class=" fas fa-check-circle "></i>

      JavaScript n’a rien à voir avec Java Créé par et intégré à NetScape en
      1996 (LiveScript)
    </li>
  </ul>
</div>
