<div class="container">
  <h1 class="text-center">Javascript</h1>

  <br />
  <p>
    Standardisé par l'ECMA = organisme de standardisation, en 1997 (Suisse)
  </p>
  <ul class="fa-ul spaced-3">
    <li>
      <i class=" fas fa-check-circle text-warning">
      </i>
      Norme de base ECMAScript-262
    </li>
    <li>
      <i class=" fas fa-check-circle text-danger">
      </i>
      ECMAScript 4 = ES4 (juin 2007) Désuet 
    </li>
    <li>
      <i class=" fas fa-check-circle text-success">
      </i>
      ECMAScript   5 = ES5 (déc 2009) Actuellement encore le plus utilisé. 
    </li>
    <li>
      <i class=" fas fa-check-circle text-success">
      </i>
      ECMAScript 6 = ES6 (Harmony juin 2015) En cours   d’implémentation 
    </li>
    <li>
      <i class=" fas fa-check-circle text-primary">
      </i>
      ECMAScript 7 = ES7 Elaboration des nouvelles spécifications
    </li>
</div>
