<div class="container">
  <h1 class="text-center">Peut-on utiliser ES6 maintenant ?</h1>
  <br />
  <div class="row">
    <div class="col-md-6">
      <br /><br /><br />
      <ul class="fa-ul spaced-3">
        <li>
          <i class=" fas fa-check text-success"></i>
          OUI. En faisant appel à un transpileur tel que « babel » pour compiler
          ES6 vers ES5.
        </li>
        <li>
          <i class=" fas fa-check text-success"></i>
          JS n’étant pas typé, « Typescript » (TS) ajoute le support des types
          (la commande tsc fournie par Microsoft permet la transpilation)
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <svg
        version="1.1"
        x="0px"
        y="0px"
        viewBox="0 0 600 600"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0 {
            fill: #2fc2c2;
            stroke: #aaa;
            stroke-miterlimit: 10;
          }
          .st1 {
            fill: #9688c0;
            stroke: #fff;
            stroke-miterlimit: 10;
          }
          .st2 {
            fill: #ffed42;
            stroke: #fff;
            stroke-miterlimit: 10;
          }
          .st3 {
            fill: #84bc33;
            stroke: #fff;
            stroke-miterlimit: 10;
          }
          .st4 {
            fill: #f9dc13;
            stroke: #282727;
            stroke-miterlimit: 10;
          }

          .st6 {
            font-size: 40px;
          }
          .st7 {
            fill: none;
            stroke: #283b90;
            stroke-width: 2;
            stroke-miterlimit: 10;
          }
          .st8 {
            fill: #283b90;
          }
          circle {
            stroke-width: 8;
          }
        </style>
        <g>
          <circle class="st0" cx="263.46" cy="261.58" r="250" />
          <circle class="st1" cx="263.46" cy="261.58" r="200" />
          <circle class="st2" cx="263.46" cy="261.58" r="150" />
          <circle class="st3" cx="263.46" cy="261.58" r="100" />
          <g>
            <animateTransform
              attributeName="transform"
              type="rotate"
              from="0 263.46 261.58"
              to="360 263.46 261.58"
              dur="10s"
              repeatCount="indefinite"
            ></animateTransform>
            <g>
              <g>
                <line
                  class="st7"
                  x1="154.15"
                  y1="198.47"
                  x2="193.21"
                  y2="221.02"
                />
                <g>
                  <path
                    class="st8"
                    d="M150.71,205.17c-3.6-2.08-4.83-6.68-2.75-10.27s6.68-4.83,10.27-2.75c3.6,2.08,4.83,6.68,2.75,10.27
          S154.31,207.24,150.71,205.17z"
                  />
                </g>
                <g>
                  <polygon
                    class="st8"
                    points="205.44,228.08 184.14,225.17 192.29,220.49 192.27,211.09 			"
                  />
                </g>
              </g>
            </g>
            <g>
              <g>
                <line
                  class="st7"
                  x1="93.14"
                  y1="261.58"
                  x2="189.85"
                  y2="261.58"
                />
                <g>
                  <path
                    class="st8"
                    d="M93.52,269.1c-4.15,0-7.52-3.37-7.52-7.52c0-4.15,3.37-7.52,7.52-7.52c4.15,0,7.52,3.37,7.52,7.52
          C101.04,265.73,97.67,269.1,93.52,269.1z"
                  />
                </g>
                <g>
                  <polygon
                    class="st8"
                    points="203.97,261.58 184.07,269.71 188.79,261.58 184.07,253.45 			"
                  />
                </g>
              </g>
            </g>
            <g>
              <g>
                <line class="st7" x1="77.41" y1="369" x2="197.55" y2="299.63" />
                <g>
                  <path
                    class="st8"
                    d="M81.5,375.32c-3.6,2.08-8.2,0.84-10.27-2.75s-0.84-8.2,2.75-10.27c3.6-2.08,8.2-0.84,10.27,2.75
          C86.33,368.65,85.09,373.25,81.5,375.32z"
                  />
                </g>
                <g>
                  <polygon
                    class="st8"
                    points="209.78,292.57 196.61,309.56 196.64,300.16 188.48,295.48 			"
                  />
                </g>
              </g>
            </g>
          </g>
          <text
            transform="matrix(1 0 0 1 228.5142 266.6209)"
            class="st4 st5 st6"
          >
            ES5
          </text>
          <text
            transform="matrix(1 0 0 1 228.5142 155.9959)"
            class="st4 st5 st6"
          >
            ES6
          </text>
          <text
            transform="matrix(1 0 0 1 228.5142 102.8709)"
            class="st4 st5 st6"
          >
            ES7
          </text>
          <text transform="matrix(1 0 0 1 239.334 52.8709)" class="st4 st5 st6">
            TS
          </text>
        </g>
      </svg>
    </div>
  </div>
</div>
