<div class="container-lg">
  <h1 class="text-center">
    Document Object Model (DOM)
  </h1>
  <h3 class="text-muted small text-center">Ou comment accéder au contenu de votre page HTML ?</h3>
  <hr>
  <p>Pour faire des opérations usuelles :</p>
  <ul class="fa-ul spaced-2">
    <li>
      <i class="fas fa-arrow-circle-right text-success"></i>
      Récupérer la référence d'un élément <span class="text-muted">(et modifier son contenu.)</span>
    </li>
    <li>
      <i class="fas fa-arrow-circle-right text-success"></i>

      Récupérer la référence d'un ensemble d'éléments
    </li>
    <li>
      <i class="fas fa-arrow-circle-right text-success"></i>

      Modifier les attributs d'un élément
    </li>
    <li>
      <i class="fas fa-arrow-circle-right text-success"></i>

      Modifier les styles d'un élément
    </li>
    <li>
      <i class="fas fa-arrow-circle-right text-success"></i>

      Ajouter/supprimer des classes CSS à un élément
    </li>
  </ul>
  <p>D'autres opérations seront abordées plus tard :</p>
  <ul class="fa-ul spaced-2">
    <li>
      <i class="fas fa-arrow-circle-right text-warning"></i>
      Ajouter un ou plusieurs éléments au DOM
    </li>
    <li>
      <i class="fas fa-arrow-circle-right text-warning"></i>
      ...
    </li>
</div>
