<div class="container-lg">
  <h2 class="text-center pt-2">
    Modifier les styles d'un élément HTML
  </h2>

  <p class="small p-2">
    On utilise l'attribut <code>element.style</code> suivi de l'attribut CSS
    qu'on veut modifier. <br />
    Exemple : <code>element.style.backgroundColor = "#FF0</code>. <br />
    Remarquez que pour les attributs CSS composés comme
    <code>border-left-color</code>, on enlève le tiret et on met le caractère
    suivant en majuscule :
    <code>borderLeftColor</code>
  </p>
  <div class="row small">
    <div class="col-md-6">
      <textarea class="myCode">
<div class="ctn" id="box4">
  <h3>Mon titre</h3>
  <p>
    Lorem, ipsum dolor sit amet consectetur 
    adipisicing elit. Vitae, quidem?
  </p>
  <ul>
    <li>Rouge</li>
    <li>Vert</li>
    <li>Bleu</li>
  </ul>
  <button class="btn btn-danger btn-block">
    Commander
  </button>
</div>
      </textarea>
    </div>
    <div class="col-md-6">
      <div class="ctn" id="box4" title="div avrc id='ctn' class='ctn'">
        <h3 title="Balse h3">Mon titre</h3>
        <p title="Un paragraphe">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
          quidem?
        </p>
        <ul title="Une liste non ordonnée ul">
          <li title="Un éélment de list li">Rouge</li>
          <li title="Un éélment de list li">Vert</li>
          <li title="Un éélment de list li">Bleu</li>
        </ul>
        <button class="btn btn-danger btn-block" title="Un bouton">
          Commander
        </button>
      </div>
    </div>
  </div>
</div>
